.message-row {
    padding-left: 1.5em;
    padding-right:1em;
    margin-bottom: 0.5em;
    height: 7em !important;
}

.console-messages {
    border-radius: 3px;
    background-color: #131517;
    padding: 0.25em;
    overflow-y: scroll;
    overflow-x:hidden;
    text-wrap: wrap;
    display: flex;
    flex-direction: column-reverse;
}
.outputMessage {
    font-size: 14px;
    margin-bottom: 0px;
    color: #cfcfcf;
}
.odd-output-child {
    color: #bbbbbb;
}
.output-warning {
    color: orange;
}
.console-url {
    color: hsl(180, 100%, 35%);
    text-decoration: underline;
}
.console-url:hover {
    cursor:pointer;
    color: hsl(180, 100%, 45%);
}
.console-filepath {
    color: hsl(0, 0%, 60%);
    text-decoration: underline;
}
.console-filepath:hover {
    color: hsl(0, 0%, 70%);
    cursor:pointer;
    text-decoration: underline;
}