.message-row {
    padding-left: 1.5em;
    padding-right:1em;
    margin-bottom: 0.5em;
    height: 7em !important;
}
.full-height-messages-row { 
    height:100%;
}
.messageArea {
    border-radius: 8px;
    background-color: #131517;
    padding: 0.25em;
    overflow-y: scroll;
    overflow-x:hidden;
    text-wrap: wrap;
    height:100%;
}
.outputMessage {
    font-size: 14px;
    margin-bottom: 0px;
}
.output-warning {
    color: orange;
}