.image-viewer {
    height: 100%;
    overflow-y: scroll;
}
.image-viewer > .col {
    height: 100%;
}
img {
    border: 1px solid #313540;
    width:100%;
}
.stretchedImage {
    width: calc(100% - 4em) !important;
    object-fit: cover;
    overflow: hidden;
    margin-top:0.5em;
    margin-bottom: 1em;
    border-style: dotted;
    border-width: 3px;
    border-color: #313540;
}