.artdata-viewer {
    height: 100%;
    overflow-y: auto;
}
.artdata-viewer > .col {
    height: 100%;
}
.artdata-viewer .scope-select {
    /* max-width: 15em !important; */
    border-left: none !important;
}
.add-button {
    width:100%;
}
.add-field-button {
    background-color: var(--color-dark-2)!important;
    border-color: var(--color-gray) !important;
    border-bottom-width: 2px !important;
    color: var(--color-light) !important;
}
.add-field-button:hover {
    background-color: var(--color-dark-3)!important;

}

.trash-button, .add-button {
    padding-top: 0px !important;
    background-color: var(--color-dark-2)!important;
    border-color: var(--color-gray) !important;
    color: var(--color-light) !important;
}
.trash-button:hover, .add-button:hover {
    background-color: var(--color-dark-3)!important;
}
.artdata-crud-control {
    background-color: var(--color-dark-1) !important;
    border-color: var(--color-gray) !important;
    border-bottom-width: 1px !important;
    border-left:none !important;
    border-right-width: 0px;
}
.artdata-crud-control:disabled {
    /* border-left: none !important; */
    opacity: 1 !important;
    border-right-width: 0px !important;
    color: rgba(108, 117, 125, 0.65) !important;
}
.vertical-input-group .input-group:nth-child(odd) .artdata-crud-control  {
    background-color: var(--color-dark-1)!important;
}
.vertical-input-group .input-group:nth-child(odd) .artdata-crud-control:disabled  {
    background-color: var(--color-dark-1)!important;
}
.no-left-border {
    border-left-width: 0 !important;
}
.radio-icon {
    margin-left: 0.2em;
}
.input-icon {
    margin-top:0.1em;
}
.text-replacement-examples {
    margin-bottom: 0.25em;
}
.add-text-replacement-suggestion-button {
    font-size:12px !important;
    border-radius: 32px !important;
    background-color: var(--color-dark-3)!important;
    border-color: var(--color-gray) !important;
    margin-right: 0.25em;
}
.go-to-template-button {
    color: var(--color-light) !important;
    background-color: var(--color-dark-3) !important;
    border-color: var(--color-gray) !important;
}
.go-to-template-button:hover {
    background-color: var(--color-dark-3) !important;
}

.text-replacement-debugging-label {
    width: 34px !important;
}
.text-replacement-source-type-label {
    max-width:10em !important;
}
.text-replacement-controls-label {
    width: 100px;
}
.scope-icon {
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
}
.artdata-type-header {
    font-size: 14px;
    margin-top: 1em;
}

.scope-icon-container {
    background-color: var(--color-dark-1) !important;
    border-color: var(--color-gray) !important;
    color: var(--color-light) !important;
    border-right: none !important;
}
.vertical-input-group .input-group:nth-child(even) .scope-icon-container {
    background-color: var(--color-dark-1) !important;
  }
.scoped-value-coordinate-input {
    max-width: 6ch !important;
}
.css-field {
    max-width: 8ch !important;
}
.element-id-field {
    max-width: 16ch !important;
}
.text-replacement-key-field {
    max-width: 16ch !important;
}

.wide-scope-select {
    max-width: none !important;
    flex: 1 1 auto !important;
}
.artdata-viewer .input-group > span {
    user-select: none;
}

.artdata-up-arrow {
    border-left: 1px var(--color-gray) solid !important;
}