.context-menu {
    width: 300px;
    background-color: var(--color-content-surface);
    border-radius: 6px;
    position: fixed;
    z-index: 999999;
    padding: 0.15em 0.15em 0.15em 0.15em;
    border-style: solid;
    border-color: var(--color-border);
    border-width: 1px;
    pointer-events: auto;
}
.context-menu-item {
    font-size: 14px;
    height: 24px;
    padding: 0 0.25em 0 0.25em;
    margin-bottom: 0.25em;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.context-menu-item:last-child {
    margin-bottom: 0px;
}
.context-menu-item:hover {
    background-color: var(--color-content-surface-hover);
}