:root {
    --topbar-width: 60px;
}

.topNavbar {
    height: 100%;
    display: inline-block;
    width: var(--topbar-width) !important;
    background-color: var(--color-surface-cover);
    vertical-align: top;
    border-right: solid 1px var(--color-border);
}
.topNavbar > * {
    display: inherit;
}
.mainBody {
    display: inline-block;
    width: calc(100% - var(--topbar-width)) !important;
    height: 100%;
    vertical-align: top;
}
.mainBody > * {
    display: inherit;
    height: 100%;
}

.sidebar-buttons .sidebar-button {
    position: relative;
    padding:10px 0 0 0;
    height:var(--topbar-width);
    width: calc(100% - 2px);
    border-width: 0px !important;
    border-left: 2px solid transparent !important;
    border-radius: 0px !important;
    background-color: var(--color-surface-cover) !important;
}
.sidebar-buttons .sidebar-button > .topbar-icon {
    fill: var(--color-accent-disabled);
}
.sidebar-buttons .sidebar-button:hover, .sidebar-buttons .sidebar-button:active {
    /* fill: var(--color-text-muted) !important; */
    cursor: pointer;
}
.sidebar-buttons .sidebar-button:hover > .topbar-icon {
    fill: var(--color-accent) !important;
}
.sidebar-buttons .current-sidebar-button {
    border-left: 2px solid var(--color-accent) !important;
}
.sidebar-buttons .current-sidebar-button > .topbar-icon {
    fill: var(--color-accent) !important;
}
.sidebar-buttons .current-sidebar-button:hover > .topbar-icon {
    fill: var(--color-accent) !important;
}
.sidebar-buttons .current-sidebar-button:hover {
    cursor: default !important;
}
.top-navbar-item-label {
    font-size: 12px;
    color: var(--color-text);
}