.app {
    color: hsl(220, 13%, 18%);
    color: hsl(222, 13%, 28%) #2f333c;
    color: #2f333c;
    color: hsl(0, 0%, 81%);
    color: #1a1e20;
    color: hsl(204, 4%, 15%);
    color: hsl(206, 4%, 15%);
    color: hsl(200, 10%, 11%);
    color: hsl(210, 11%, 15%);
    color: hsl(0, 0%, 60%);
    color: rgb(33,37,41);
    color: #373c48fa;
    color: hsl(222, 13%, 32%);
    color: #ea9800;
    color: #ffc75e;
    color: #ffa500;
    color: orange;
    color: hsl(39, 100%, 50%);
    color: hsl(39, 100%, 45%);
    color: #f59e0b;
    color: #e2c08d;
    color: #efb521;
    color: #313540;
    color: #323843;
    color: #f3f3f3;
    color: #2c303a;
    color: #323742;
    color: #b6b6b6;
    color: #d9d9d9;
    color: rgb(49,53,64);
    color: rgb(33,36,44);
    color: #252a31;
    color: #524429;
    color: #79643c;
    color: rgb(207,207,207);
    color: #262626;
    color: #262931;
    color: #282c35;
    color: #282c34;
    color: hsl(224, 13%, 30%);
    color: #cfcfcf;
    color: hsl(193, 9%, 22%);
    color: none;
    color: hsl(224, 13%, 17.5%);
    color: #2b3037;
    color: #333942;
    color: #373e48;
    color: #333741;
    color: rgb(222,226,230);
    color: rgb(43,48,53);
    color: rgb(73,80,87);
    color: hsl(210, 10%, 22%);
    color: #ff6b6b;
    color: #f5260b;
    color: #dc3545;
    color: #bb2d3b;
    color: #b02a37;
    color: #666;
    color: #333;
    color: #444;
    color: #555;
    color: var(--text-color);
    color: #999;
    color: #ddd;
    color: #fff;
    color: black;
    
    color: #7fb785;
    color: #a78bfa;
    color: #63b3ed;
    color: #00000000;
    color: hsl(205, 79%, 70%);
    color: hsl(205, 79%, 90%);
    color: hsl(36, 100%, 70%);
    color: hsl(36, 100%, 90%);
    color: rgba(245,158,11,0.1);
    color: #10b981;
    color: #3b82f6;
    color: rgba(16,185,129,0.1);
    color: rgba(59,130,246,0.1);
    color: #ffcccc;
    color: #495357;
    color: #ffc14e;
    color: hsl(210, 10%, 19%);
    color: hsl(210, 10%, 24%);
    color: rgba(108,117,125,0.65);
    color: #2b3035;
    color: transparent;
    color: gray;
    color: hsl(210, 10%, 21%);
    color: hsl(210, 10%, 30%);
    color: hsl(210, 14%, 50%);
    color: rgba(0,0,0,0.5);
    
    color: var(--bs-table-bg);
    color: rgb(26,30,32);
    color: #373b3e;
    color: hsl(210, 14%, 75%);
    color: hsl(210, 14%, 95%);
    color: hsl(224, 13%, 40%);
    color: hsl(220, 13%, 16%);
    color: hsl(222, 14%, 20%);
    color: #2b2f37;
    color: #252830;
    color: #333742;
    color: #373c48;
    color: hsl(39, 100%, 60%);
    color: palevioletred;
    color: #131517;
    color: #363680;
    color: #3f454c;
    color: #d9a41d;
    color: #EFB521;
    color: rgb(42,46,54);
    color: hsla(0, 0%, 0%, 0.2);
    color: hsla(0, 0%, 0%, 0.4);
    color: hsl(0, 0%, 85%);
    color: #1F2329;
    color: #848484;
    color: rgb(63,69,76);
    color: var(--bs-light);
    color: #eaeaea;
    color: hsl(220, 13%, 20%);
    color: hsl(220, 13%, 40%);
    color: hsl(85, 54%, 51%);
    color: hsl(85, 54%, 56%);
    color: hsl(220, 13%, 15%);
    color: rgb(198,40,40);
    color: hsl(180, 100%, 35%);
    color: hsl(180, 100%, 45%);
    color: hsl(212, 9%, 27%);
    color: hsl(212, 9%, 47%);
    color: rgb(108,70,0);
    color: rgb(9,108,0);
    color: rgb(17,201,0);
    color: #ffffff;
    color: #212529;
    color: #bbbbbb;
    color: hsl(0, 0%, 70%);
    color: #282C35;
    color: hsl(222, 14%, 23%);
    color: hsl(222, 14%, 15.5%);
    color: rgba(40,44,52,0.95)
}