[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-socketio = "*"
aiohttp = "*"
aiohttp-cors = "*"
setuptools = "*"
gitpython = "*"
templative = {path = "./dependencies/templative-0.0.1.tar.gz"}
aiofile = "*"
asyncclick = "*"
fpdf = "*"
fpdf2 = "*"
markdown2 = "*"
pillow = "*"
svgmanip = "*"
svgutils = "*"
tabulate = "*"
wand = "*"
weasyprint = "*"
cairosvg = "*"
anyio = "*"

[dev-packages]

[requires]
python_version = "3.11"
