.componentItemTitle {
    font-size:small;
    margin: 0;
    text-align: left;
    padding-bottom: 0.16em !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.componentWrapper {
    padding-left: 1em;
    margin-bottom: 0.1em;
}