
.print-control-col-left {
    border-right: solid #313540;
    border-width: 1px;
    /* padding-left: 0.75em !important; */
    padding-right: 0;
}
.print-control-col-left, .print-control-col-right { 
    height: 100% !important;
    overflow-y: hidden;
}
.print-control-col-right {
    padding: 0 !important;
}
.print-controls-row {
    background-color: rgb(42, 46, 54);
    height: 2em;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right:0.5em;
    text-align: right;
}
.print-control-button {
    height: 100%;
}
.print-pdf-viewer-row {
    height: calc(100% - 2em) !important;
    overflow-y: hidden;
}
.fake-pdf {
    height: 2000px;
    /* background-color: white; */
}
.pdf {
    height: 100%;
}
.create-printout-button-container {
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 100%;
    margin-top:0.5em;
}
.create-printout-button {
    width: calc(100%);
    background-color: orange !important;
    color:#313540 !important;
    font-weight: bold !important;
}
.selectedDirectory { 
    margin-bottom:0 !important;
}
.print-control-col-left >.render-output-options-container{
    height: calc(100% - 150px);
}
.printout-flex-checkbox {
    flex:1;
}
.no-pdf {
    padding-left: 1em;
}
.create-printout-button-container > * {
    margin:0px !important;
}
.create-printout-button-container > .input-group > * {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-width: 0px !important;
}
.create-printout-button-container > .input-group:first-child > * {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-top-width: 1px !important;
}
.create-printout-button-container > .input-group:last-child > * {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}