.pieces-viewer .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieces-viewer .modal-content {
    position: relative;
    z-index: 9999;
    background-color: var(--color-content) !important;
    padding: 20px;
    border-radius: 5px;
    width: 715px;
    border: none !important;
    height: 616px;
    text-align: center;
}
.pieces-viewer .modal-content h2 {
    font-size: 24px;
    margin-bottom: 0px;
}
.pieces-viewer .drop-area {
    border: 2px dashed #ccc;
    padding-top: 170px;
    margin: 20px 0;
    height: 460px;
    cursor: pointer;
}
.pieces-viewer .drop-area:hover, .pieces-viewer .drop-area.highlight {
    border-color: var(--color-accent);
    color: var(--color-accent);
}
.pieces-viewer .import-modal-description {
    text-align: left;
    font-size: 16px;
    margin-top: 0px;
}
.pieces-viewer .import-warning {
    color: var(--color-error);
    
}

.pieces-viewer .close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    color: var(--color-text);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.pieces-viewer .App .import-modal-header {
    margin-bottom: 0.5em;
}
.pieces-viewer .google-sheet-url-input, 
.pieces-viewer .google-sheet-url-input:focus, 
.pieces-viewer .google-sheet-url-input:active {
    background-color: rgb(24, 30, 37) !important;
    color: var(--color-text) !important;
}