.mainBody {
    height: calc(100% - 50px) !important;
}

.mainBody > .col {
    height: 100%;
}
.main-input-row {
    padding: 0.5em;
    height: 2em;
    border-bottom: solid #313540;
    border-width: 1px;
}
.meaning-choices-row {
    height: calc(100% - 2em);
}

.plan-col-left {
    border-right: solid #313540;
    border-width: 1px;
    padding-left: 0.75em !important;
    padding-top: 0.5em;
    padding-right: 0;
}
.plan-col-left, .print-col-right { 
    height: 100% !important;
    overflow-y: hidden;
}
.source-of-meaning-button {
    width: 100%;
    margin-bottom: 1em;
}
.game-explanations > p { 
    font-size: 12px;
}
.setting-explanation {
    font-style: italic;
}
.game-title { 
    font-weight:bold;
}
.verb-option {
    margin-right: 0.5em;
}

.selected-meaning, .selected-verb { 
    font-weight: bold !important;
    background-color:black !important;
}
.selected-meaning:hover, .selected-verb:hover { 
    color:orange !important;
}