.artdataItemWrapper {
    padding-left: 1em;
    margin-bottom: 0.1em;
}
.artdataItemWrapper:hover {
    background-color: #2b3037;
    cursor: pointer;
}
.selected {
    background-color: #333942;
}
.selected:hover {
    background-color: #373e48 !important;
}
.artdataItem {
    padding-bottom: 0.16em !important;
    font-size: small;
    margin:0;
    text-align: left;
}