.resources {
    /* overflow-y: scroll; */
    padding-bottom:2em
}
.main-game-button-row {
    padding-left: 1em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
    height: 1.5em;
}
.main-game-button {
    margin: 0 0.24% 0em 0em;
    color:#cfcfcf !important;
    width: 24% !important;
}

.new-file-wrapper {
    padding-left: 1em;
    padding-right: 1em;
}
.new-file-input-group {
    margin-bottom: 0.15em !important; 
}
.new-file-input {
    height: 24px;
    outline: none;
}
.new-file-input, .new-file-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border:0px !important;
}
.file-explorer-row { 
    height: calc(100% - 1.5em);
    width: 100%;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    /* background-color: red; */
    overflow-y: scroll;
    overflow-x: hidden;
}