.gamecrafter-ads-container {
    width: 100%;
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding: 0.25em;
}

.ad-explanation {
    font-size: 12px;
    width: 50%;
    margin: 0em;
}
.gamecrafter-ad-wrapper {
    position: relative;
    width: 24%;
    height: auto;
    display: inline-block;
}
.gamecrafter-ad-label {
    position: absolute;
    right: 1em;
    left: 0.25em;
    top: 0.15em;
}
.ad-label {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #eaeaea; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.ads-header {
    height: 1em;
    width: 100%;
    padding: 0.1em;
}
.ads-images {
    background-color: rgb(33, 37, 41);
}
.ads-folder-button {
    float:right;
    width: 1.4em;
    height: 100%;
    padding: 0em 0em 0em 0em !important;
    font-size: 12px;
    vertical-align: center;
}

.gamecrafter-ad-image {
    border: 0px;
}