
.tgc-password-warning {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 12px;
}
.logging-col {
    padding: 0.5em 1em 1em 0.5em !important;
    height: 100%;
}
.gamecrafter-upload-controls {
    padding-left:0.5em;
}
.gamecrafter-upload-controls > .input-group > * {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-width: 0px;
}
.gamecrafter-upload-controls > .input-group:first-of-type > * {
    border-top-width: 1px;
}
.gamecrafter-upload-controls > .input-group:first-of-type > *:first-child {
    border-top-left-radius: 6px !important;
}
.gamecrafter-upload-controls > .input-group:first-of-type > *:last-child {
    border-top-right-radius: 6px !important;
}
.gamecrafter-upload-controls > .input-group:last-of-type > * {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.upload-column {
    height: 100%;
}
.upload-column >.render-output-options-container{
    height: 300px;
}
.upload-control-column-field {
    width: 10em;
}
.gamecrafter-ads-container {
    height: calc(100% - 615px);
}
.upload-credentials-label {
    flex: 1;
}
.upload-publish-checkbox {
    flex: 1 !important;
}
.logging-col > .console-messages {
    height: 100%;
    width: 100%;
}
.upload-tgc-button {
    width: 100%;
    background-color: orange !important;
    color:#313540 !important;
    font-weight: bold !important;
}
.upload-tgc-button:hover {
    background-color: #EFB521 !important;
    border-color: rgb(73, 80, 87) !important;
}
.logged-messages-container {
    width: 100%;
    height: calc(100% - 550px);
}
.logged-messages-container > .console-messages {
    height:100%;
}

.go-to-tgc-button, .tgc-logout-button {
    color: rgb(222, 226, 230) !important;
    background-color: rgb(43, 48, 53) !important;
    border-color: rgb(73, 80, 87) !important;
}
.go-to-tgc-button:hover {
    background-color: hsl(210, 10%, 22%) !important;
}
.tgc-logout-button:hover {
    border-color: rgb(198, 40, 40) !important;
    /* color: rgb(198, 40, 40) !important; */
}