.simulator-output-explorer {
    width: 100% !important;
    height: 100% !important;
    overflow-y: hidden;
}
.simulator-package-header {
    height: 2em;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1em;
}
.simulator-package-name {
    font-size: 24px;
    font-weight: bold;
}
.simulator-content-type-header {
    font-size: 14px;
    margin-bottom: 0.1em;
}
.simulator-texture-name {
    color: var(--color-light);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
}
.simulator-save-file-path-container {
    height: 2em;
}
.object-states {
    width: 100% !important;
    height: calc(100% - 50px) !important;
    overflow-y: scroll;
    padding-bottom:2em;
    font-size: 0; /* Remove whitespace between inline-block elements */
}
.simulator-json-content {
    width: 100% !important;
    height: calc(100% - 15em) !important;
    overflow-y: scroll;
    background-color: var(--color-content);
}
.object-state {
    padding: 6px;
    vertical-align: top !important;
    margin-bottom: 0.5em;
    overflow: hidden;
}
.object-state.leaf {
    display: inline-block;
    width: 24%;
    /* height: 250px; */
}
.object-state-header {
    font-size: 14px;
}
.object-state-guid {
    color: var(--color-text-muted);
    font-style: italic;
    font-size: 12px;
}
.simulator-tiled-container {
    display: flex;
    width: 100%;
    align-items: center; /* Ensures both images align at the same height */
    overflow: hidden;
}

.image-container {
    display: flex;
    width: 100%;
    height: auto;
}

.object-state-image {
    height: auto;
    width: 50%;
    object-fit: cover;
}
.simulator-save-file-path{
    margin-right: 1em;
    font-size: 14px;
    font-weight: bold;
}
.simulator-save-file-path-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.simulator-save-file-path-container-left {
    flex:1;
}
.simulator-save-file-path-container-right {
    text-align: right;
    gap: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}