.simulator-row {
    flex-wrap: nowrap !important;
    padding-right: 0.5em;
}
.create-button-container {
    width: 100%;
    padding: 0.5em;
}
.simulator-package-controls {
    max-width: 715px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}
.create-simulator-button {
    width: 100%;
    background-color: var(--color-accent) !important;
    color:var(--color-content-surface) !important;
    font-weight: bold !important;
}
.create-simulator-button:hover {
    background-color: var(--color-accent) !important;
    border-color: var(--color-gray) !important;
}
.simulator-directory-header, .tts-directory-label {
    width: 100% !important;
}
.tts-directory-label {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-width: 0px !important;
}
.tabletop-simulator-folder-input {
    text-align: right !important;
}
.cornered-top {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.lookup-simulator-button {
    border-color: var(--color-gray) !important;
}
.simulator-controls > .render-output-options-container { 
    height: calc(100% - 450px);
}
.tabletop-simulator-saves {
    height: 9em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tabletop-simulator-save {
    font-size: 14px;
    text-align: left;
    padding-left: 12px;
    height:24px;
    margin-bottom: 3px;
}
.tabletop-simulator-save:nth-child(even) {
    background-color: var(--color-content);
}
.tabletop-simulator-save:hover {
    background-color: var(--color-content-surface);
    cursor: pointer;
}
.tabletop-simulator-save.selected-save {
    background-color: var(--color-content-surface);
}
/* .tabletop-simulator-saves.selected:hover {
    background-color: var(--color-content-surface);
} */
.simulator-save-controls {
    height: 100%;
}
.simulator-controls-container {
    max-width: 715px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}

.simulator-logo {
    max-width: 715px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    filter: saturate(0%) brightness(50%);
    opacity: 0.1;
    top: 50%;
    transform: translateY(-50%);
}

.simulator-logo-container {
    height: calc(100% - 120px);
    width: 100%;
}
.simulator-save-controls .tutorial-question-mark {
    position: absolute;
    bottom: 12px;
    right: 12px;
    left: auto;
}