.mainBody {
    height: calc(100% - 50px) !important;
}
.left-column {
    overflow-y: hidden;
    overflow-x: hidden;
    height:100%;
    border-right: solid #313540;
    border-width: 1px;
    padding-top:0.25em;
    padding-right: 0 !important;
}
.viewer {
    height:100%;
    overflow-y: scroll;
    padding-bottom:0.25em;
}
