.mainBody {
    height: calc(100% - 50px) !important;
}
.left-column {
    overflow-y: hidden;
    overflow-x: hidden;
    height:100%;
    background-color: #262931;
    border-right: solid #313540;
    border-width: 1px;
    padding-top:0.25em;
    padding-bottom:1em !important;
    padding-right: 0 !important;
}
.viewer {
    height:100%;
    overflow-y: scroll;
    padding-bottom:0.25em;
    padding-right: 0em !important;
    padding-left: 0em !important;
}
.file-contents {
    padding: 0 0.25em 0.25em 0.25em;
}
