.selected-output-directory {
    background-color: var(--color-content-surface-hover) !important;
    border-right:var(--color-accent) solid 1px !important;
}
.resourceheader-wrapper:nth-child(even) {
    background-color: var(--color-content-surface);
}
.render-output-option {
    padding: 0.2em 0.2em 0.2em 0.4em;
    border-right: transparent solid 1px;
}
.render-output-option:hover {
    background-color: var(--color-content-surface-hover);
    cursor: pointer;
}
.render-output-option p {
    margin-bottom: 0px;
    font-size: 12px;
}
.render-output-name { 
    margin-right: 0.25em;
    font-weight: bold;
    color: var(--color-accent);
}
.render-output-version { 
    margin-right: 0.5em;
}
.render-output-version-name {
    margin-right: 0.25em;
}
.render-output-version-name, .render-output-version {
    color: var(--color-gray);
}
.render-output-date { 
    display: block;
    margin-top: 0.2em;
    color: var(--color-gray);
}
.output-folder-options {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.render-output-options-container{
    display: flex;
    flex-direction: column;
}
.render-output-main-line {
    display: block;
}
.render-output-main-line p {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12px;
}