.pieces-viewer {
    height: 100%;
}
.pieces-viewer > .col {
    height: 100%;
    overflow-y: hidden;
}
.add-pieces-gamedata-row {
    height: 40px;
    border-color: hsl(210, 10%, 22%) !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.pieces-gamedata-row {
    height: calc(100% - 40px);
    overflow-y: auto;
}

th {
    font-size: 12px;
}
tr {
    font-size: 12px;
}
.table,table {
    width: 100% !important;
}
.tableContainer {
    padding-right:0.4em;
    height: 100%;
    overflow-y: auto;
}
.tableContainer > .col { 
    height: 100%;
}
.piece-control-input.mb-3:last-child {
    margin-bottom: 0 !important;
}
.key-field {
    max-width: 15em;
}
.locked-key-text {
    min-width: 15em;
}
.piece-row {
    margin-bottom: 0.1em;
}
.piece-control-input > * { 
    border-bottom: 3px solid #535962 !important;
}
.add-piece-key {
    height: 0px !important;
    transition: height 300ms ease-in;
    overflow: hidden;
}
.show-add-piece-key {
    height: 30px !important;
}
.add-field-plus {
    margin-bottom:4px;
    margin-right: 4px;
}
.value-text-area {
    padding-top:6px !important;
    padding-bottom: 0px !important;
}