th {
    font-size: 13px;
}
tr {
    font-size: 13px;
}
.table,table {
    width: 100% !important;
}
.tableContainer {
    padding-right:0.4em;
}

.key-field {
    max-width: 15em;
}
.locked-key-text {
    min-width: 15em;
}
.add-piece-button {
    margin-bottom: 3em;
}
.piece-control-input > * { 
    border-bottom: 3px solid #535962 !important;
}