th {
    font-size: 13px;
}
tr {
    font-size: 13px;
}
.table,table {
    width: 100% !important;
}
.tableContainer {
    padding-right:0.4em;
}
.piece-control-input.mb-3:last-child {
    margin-bottom: 0 !important;
}
.key-field {
    max-width: 15em;
}
.locked-key-text {
    min-width: 15em;
}
.piece-row {
    margin-bottom: 0.1em;
}
.piece-control-input > * { 
    border-bottom: 3px solid #535962 !important;
}