.artdata-viewer {
    height: 100%;
    overflow-y: auto;
}
.artdata-viewer > .col {
    height: 100%;
}
.scope-select {
    max-width: 10em !important;
    border-left: none !important;
}
.add-button {
    width:100%;
}
.add-field-button {
    background-color: #2b3035!important;
    width:100%;
    border-color: rgb(73, 80, 87) !important;
    border-bottom-width: 2px !important;
}
.trash-button, .add-button {
    background-color: #2b3035!important;
    border-color: rgb(73, 80, 87) !important;
}

.no-left-border {
    border-left-width: 0 !important;
}
.radio-icon {
    margin-left: 0.2em;
}
.input-icon {
    margin-top:0.1em;
}
.text-replacement-examples {
    margin-bottom: 0.25em;
}
.add-text-replacement-suggestion-button {
    font-size:12px !important;
    border-radius: 32px !important;
    background-color: #2b3035!important;
    border-color: rgb(73, 80, 87) !important;
    margin-right: 0.25em;
}
.go-to-template-button {
    color: rgb(222, 226, 230) !important;
    background-color: rgb(43, 48, 53) !important;
    border-color: rgb(73, 80, 87) !important;
}
.go-to-template-button:hover {
    background-color: hsl(210, 10%, 22%) !important;
}

.text-replacement-debugging-label {
    width: 34px !important;
}
.text-replacement-source-type-label {
    max-width:10em !important;
}
.text-replacement-controls-label {
    width: 100px;
}
.scope-icon {
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
}
.artdata-type-header {
    font-size: 14px;
}

.scope-icon-container {
    background-color: #1a1e20 !important;
    border-color: rgb(73, 80, 87) !important;
    color: rgb(222, 226, 230) !important;
    border-right: none !important;
}

.scoped-value-coordinate-input {
    max-width: 6ch !important;
}
.css-field {
    max-width: 8ch !important;
}
.element-id-field {
    max-width: 16ch !important;
}
.text-replacement-key-field {
    max-width: 12ch !important;
}

.wide-scope-select {
    max-width: none !important;
    flex: 1 1 auto !important;
}