.component-type-folder {
    background-color: var(--color-content-surface);
    border-radius: 4px;
    margin-bottom: 0.5em;
}
.create-component-by-type-choices {
    padding: 0em 0em 1em 0em !important;
    max-width: 715px;
    margin-left: auto;
    margin-right:auto;
    height: 100%;
}
.component-type-card {
    margin: 0 0.2em 0.5em 0.2em;
    text-align: left !important;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 0.05em;
    display: inline-block;
}
.App .component-type-card .selected-component-type {
    background-color: var(--color-accent) !important;
    color: var(--color-content) !important;
}
.App .component-type-card .selected-component-type:hover {
    background-color: var(--color-accent-hover) !important;
    color: var(--color-content) !important;
}
.component-type-header {
    padding: 0.3em;
    border-bottom: 1px solid var(--color-border);
    display: flex;
}
.component-type-header:hover {
    cursor:pointer;
    background-color: var(--color-surface-cover-hover);
}
.component-type-card > strong {
    font-size: 14px !important;
}

.component-type-card p {
    line-height: 1.6em;
    margin:0;
}


.end-of-component-types-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 1em auto 1em auto;
}

.end-of-component-types-icon {
    max-width: 350px;
    height: auto;
    border: 0px;
}

.no-results-message {
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}