.selected-output-directory {
    background-color: #3f454c !important;
    border-right:#d9a41d solid 1px !important;
}
.resourceHeaderWrapper:nth-child(even) {
    background-color: hsl(224, 13%, 17.5%);
}
.render-output-option {
    padding: 0.2em 0.2em 0.2em 0.4em;
    border-right: transparent solid 1px;
}
.render-output-option:nth-child(even) {
    background-color: hsl(224, 13%, 17.5%);
}
.render-output-option:nth-child(even) > .render-output-name {
    color: #d9a41d !important;
}
.render-output-option:hover {
    background-color: #333942;
    cursor: pointer;
}
.render-output-option p {
    margin-bottom: 0px;
    font-size: 12px;
}
.render-output-name { 
    margin-right: 0.25em;
    font-weight: bold;
    color: #EFB521;
}
.render-output-version { 
    margin-right: 0.5em;
}
.render-output-version-name {
    margin-right: 0.25em;
}
.render-output-version-name, .render-output-version {
    color: gray;
}
.render-output-date { 
    display: block;
    margin-top: 0.2em;
    color: gray;
}
.output-folder-options {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.render-output-options-container{
    display: flex;
    flex-direction: column;
}
.render-output-main-line {
    display: block;
}
.render-output-main-line p {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12px;
}