.selected-output-directory {
    background-color: #3f454c !important;
}
.resourceHeaderWrapper:nth-child(even) {
    background-color: hsl(224, 13%, 17.5%);
}
.render-output-option {
    display: flex;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.2em;
}
.render-output-option:nth-child(even) {
    background-color: hsl(224, 13%, 17.5%);
}
.render-output-option:nth-child(even) > .render-output-name {
    color: #d9a41d !important;
}
.render-output-option:hover {
    background-color: #333942;
    cursor: pointer;
}
.render-output-option p {
    display: flex;
    margin-bottom: 0px;
    font-size: 12px;
}
.render-output-name { 
    margin-right: 0.25em;
    font-weight: bold;
    color: #EFB521;
}
.render-output-version { 
    margin-right: 0.5em;
}
.render-output-version-name {
    margin-right: 0.25em;
}
.render-output-component-filter {
    color: gray;
}
.render-output-date { 
    margin-left: auto;
    color: gray;
}
.output-folder-options {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}
.render-output-options-container{
    display: flex;
    flex-direction: column;
}