.context-menu {
    width: 300px;
    background-color: #373c48fa;
    border-radius: 6px;
    position: absolute;
    z-index: 999;
    padding: 0.15em 0.15em 0.15em 0.15em;
    border-style: solid;
    border-color: hsl(222, 13%, 32%);
    border-width: 1px;
}
.context-menu-item {
    font-size: 14px;
    height: 20px;
    padding: 0 0.25em 0 0.25em;
    margin-bottom: 0.25em;
    border-radius: 3px;
}
.context-menu-item:last-child {
    margin-bottom: 0px;
}
.context-menu-item:hover {
    background-color: hsl(222, 13%, 32%);
}