.topNavbar {
    height: 100%;
    display: inline-block;
    width:75px !important;
    padding-top: 0.2em;
    background-color: #282C35;
    /* margin-right: 5px; */
    vertical-align: top;
    border-right: #3c414d;
    border-right-width: 1px;
    border-right-style: solid;
}
.topNavbar > * {
    display:inherit;
}
.mainBody {
    display: inline-block;
    width: calc(100% - 80px) !important;
    height: 100%;
}
.mainBody > * {
    display:inherit;
}
.nav-link {
    color:#cfcfcf !important;
    font-size: small !important;
    padding: 0
}

.sidebar-buttons > .nav-item  {
    margin-left: 15px;
}
.sidebar-buttons > .nav-item > .nav-link {
    padding: 0px;
    padding-bottom: 5px
}
.sidebar-buttons > .nav-item > .nav-link > .btn {
    
    background-color: #353a46;
    border-width: 0px !important;
    border-style: none !important;
}
.sidebar-buttons > .nav-item > .nav-link > .btn:hover {
    background-color: #424854;
    border-width: 0px !important;
    border-style: none !important;
}
.currentRoute {
    background-color: #282C35 !important;
}
