
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* text-align: center; */
  background-color: var(--color-content);
  height: 100% !important;
}

html, body {
  height: 100%;
}
html {
  scrollbar-color: var(--color-accent) var(--color-accent-hover);
}

::-webkit-scrollbar {
  width: 9px;
  height: 8px;
  background-color: var(--color-content) !important;
}
textarea::-webkit-scrollbar-corner {
  background-color: var(--color-content) !important; /* Color of the corner */
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent) !important;
  border-radius: 5px;
}

#root {
  height: 100vh;
}
.container-fluid {
  /* height: 100vh !important; */
  height: 100vh !important;
  /* min-height: 100vh; */
  /* overflow: hidden; */
  overflow:hidden;
  /* display: flex; */
  /* flex-direction: column; */
  padding:0 !important;
  /* align-items: center;
  justify-content: center; */
  font-size: 24px;
  color:var(--color-text) !important;
  user-select: none;
}
.hidden-visibility{
  visibility: hidden;
}
.locked:hover {
  cursor: not-allowed !important;
}

