:root {
  --color-dark-1: hsl(220, 13%, 15%);    
  --color-dark-2: hsl(220, 13%, 20%);   
  --color-dark-3: hsl(212, 9%, 27%);   
  --color-dark-4: hsl(222, 13%, 30%);   
  --color-gray: hsl(210, 14%, 50%);   
  --color-light: hsl(0, 0%, 81%);   
  --color-primary: orange;
  --color-error: red;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* text-align: center; */
  background-color: var(--color-dark-2);
  height: 100% !important;
}

.App input, .App textarea, .App select, .App button, .App .form-check-input {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--color-gray) !important;
}

.App input:active, .App textarea:active, .App select:active, .App button:active {
  outline: none !important;
  box-shadow: none !important;
}

.App input:focus, .App textarea:focus, .App select:focus, .App button:focus, .App .form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
html, body {
  height: 100%;
}
html {
  scrollbar-color: var(--color-dark-4) var(--color-dark-3);
}
.no-right-border {
  border-right-width: 0px !important;
}
.no-left-border {
  border-left-width: 0px !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 8px;
  background-color: var(--color-dark-3);
}
textarea::-webkit-scrollbar-corner {
  background-color: var(--color-dark-3); /* Color of the corner */
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: 5px;
}

#root {
  height: 100vh;
}
.container-fluid {
  /* height: 100vh !important; */
  height: 100vh !important;
  /* min-height: 100vh; */
  /* overflow: hidden; */
  overflow:hidden;
  /* display: flex; */
  /* flex-direction: column; */
  padding:0 !important;
  /* align-items: center;
  justify-content: center; */
  font-size: 24px;
  color:var(--color-light) !important;
  user-select: none;
}
.hidden-visibility{
  visibility: hidden;
}
.locked:hover {
  cursor: not-allowed !important;
}

.vertical-input-group .input-group:first-child {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.vertical-input-group .input-group:first-child *:not(.form-check-input) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;    
}
.vertical-input-group .input-group:last-child {
  padding-top: 0 !important;
}
.vertical-input-group .input-group:last-child *:not(.form-check-input) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom:0 !important
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) *:not(.form-check-input) {
  border-radius: 0;
}  
.vertical-input-group .input-group:not(:first-child) :not(.form-check-input) {
  border-top: 0 !important;
}
.vertical-input-group .input-group:nth-child(odd) .form-control,
.vertical-input-group .input-group:nth-child(odd) .form-select {
  background-color: var(--color-dark-1)!important;
}

.vertical-input-group .input-group:nth-child(odd) .form-control:disabled,
.vertical-input-group .input-group:nth-child(odd) .form-select:disabled {
  background-color: var(--color-dark-1)!important;
}

.vertical-input-group .input-group:nth-child(even) .form-control:disabled,
.vertical-input-group .input-group:nth-child(even) .form-select:disabled {
  background-color: var(--color-dark-1)!important;
}
.vertical-input-group .soft-label {
  background-color: var(--color-dark-1) !important;

}
.soft-label {
  background-color: var(--color-dark-1) !important;
  color: var(--color-light) !important;
  border-right-width: 0 !important;
}
.vertical-input-group .input-group:nth-child(even) .soft-label {
background-color: var(--color-dark-1) !important;
}
.darkened-label {
  background-color: var(--color-dark-1)!important;
  border-right-width: 0!important;
}
.vertical-input-group .input-group:nth-child(odd) .darkened-label {
  background-color: var(--color-dark-1)!important;
}
.bi-trash3 {
  /* fill: inherit; */
  transition: fill 0.2s ease !important;
}

button:not(:disabled):hover > .bi-trash3 {
  fill: hsl(354, 100%, 85%);
}

input, textarea, select {
  user-select: text;
}
.form-check-input {
  cursor: pointer;
}