.past-feedback-col {
    background-color: #2b2f37;
    padding-right:0em !important; 
}
.past-feedback-col > button {
    margin-left:0.25em !important;
    width: 90% !important;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.feedback {
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    background-color: #2b2f37;
    max-width: 725px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}
.feedback-post-choices > h4 {
    margin-left: 0.25em;;
}
.post-option {
    width: 100%;
    min-height: 3em;
    font-size: 14px;
    padding: 0.5em;
    background-color:#00000000;
    border-bottom-color: #252830;
    border-bottom-width: 1px;
    border-bottom-style:solid;
}
.post-option:first-of-type {
    border-top-color: #252830;
    border-top-width: 1px;
    border-top-style:solid;
}
.post-option:hover {
    background-color: #333742;
    cursor: pointer;
}
.selected-post-option {
    background-color: #2f333c;
}
.feedback-form, .feedback-viewer {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 715px;
    padding: 1em;
    background-color: #2b2f37;
    border-radius: 8px;
}
.post-button, .create-feedback-post-button {
    background-color: #333742 !important;
    color: white !important;
}
.post-button:hover, .create-feedback-post-button:hover {
    background-color: #373c48 !important;
}