.simulator-output-explorer {
    width: 100% !important;
    height: 100% !important;
    overflow-y: hidden;
}
.simulator-package-header {
    height: 2em;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1em;
}
.simulator-package-name {
    font-size: 24px;
    font-weight: bold;
}
.simulator-content-type-header {
    font-size: 14px;
    margin-bottom: 0.1em;
}
.simulator-texture-name {
    color: hsl(0, 0%, 81%);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
}
.object-states {
    width: 100% !important;
    height: 100%;
    overflow-y: scroll;
    margin-bottom:1em;
    padding-bottom: 0.5em;
}
.simulator-json-content {
    width: 100% !important;
    height: calc(100% - 15em) !important;
    overflow-y: scroll;
    background-color: #1F2329;
}
.object-state {
    padding: 6px;
    margin-bottom: 0.5em;
}
.object-state-header {
    font-size: 14px;
}
.object-state-guid {
    color: #848484;
    font-style: italic;
    font-size: 12px;
}
.simulator-tiled-container {
    display: flex;
    width: 100%;
    align-items: center; /* Ensures both images align at the same height */
}

.simulator-tiled-container {
    width: 100%;
    overflow: hidden;
}

.image-container {
    display: flex;
    width: 100%;
    height: auto;
}

.object-state-image {
    height: auto;
    width: 50%;
    object-fit: cover;
}
