.need-templative-account {
    font-size: 14px;
}
.register-now {
    text-decoration: underline;
    color: var(--color-primary);
}
.register-now:hover {
    cursor: pointer;
    color: var(--color-primary);
}
.login-status {
    color:var(--color-error);
    font-size: 12px;
    margin-bottom: 0px;
}
.google-login-icon {
    margin-bottom:3px;
    margin-right: 0.5em;
}