.mainBody {
    height: calc(100% - 50px) !important;
}
.create-component-input-group {
    margin-left:auto;
    margin-right:auto;
    max-width: 30em !important;
}
.main-col {
    height: 100% !important;
}
.create-row {
    padding: 1em 1em 0.5em 1em;
    background-color: #292e36;
    height: 3em;
}
.create-component-by-type-choices {
    padding: 0.5em 0em 0em 0em !important;
    height: calc(100% - 1em);
}
.component-type-list {
    padding:0 5em 0 5em !important;
    overflow-y: scroll;
    height:100%;
}
.component-type-card {
    margin: 0 0.2em 0.5em 0.2em;
    width: 10em;
    height: 5em;
    font-size: 11px !important;
    background-color: #323843;
    border-radius: 6px;
    padding: 0.05em;
    display: inline-block;
    
}
.component-type-card p {
    text-align: center;
    line-height: 1.6em;
    margin:0;
}

.selected-component-type {
    background-color: #ea9800 !important;
}
.selected-component-type:hover {
    background-color: #ffa500 !important;
}
.create-component-button {
    color:#f3f3f3 !important;
}