
.create-component-input-group {
    margin-left:auto;
    margin-right:auto;
    max-width: 30em !important;
}
.main-col {
    height: 100%;
    width: 100%;
}
.create-row {
    padding: 0.5em 1em 0.25em 1em;
    background-color: #292e36;
    height: 2em;
    width: 100%;
}

.tag-choices { 
    height: 6em;
    padding-top: 0.1em;
    margin-left: 5em;
    margin-top: 1em;
    margin-right: 5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid hsl(215, 14%, 16%);
    background-color: #252a31;
    display: flex;
    flex-direction:column;
}
.tag-choices-label {
    font-size: 14px;
    font-weight: bold;
    padding-left: 0.3em;
    margin-bottom: 1em;
    height: 1em;
}
.custom-or-stock {
    padding-left: 3em !important;
    font-size: 12px;
} 
.tag-choices-label > p {
    margin-bottom: 0em;
}
.component-tag-options {
    overflow-y: scroll;
}

.create-component-by-type-choices {
    padding: 0em 5em 1em 5em !important;
    height: calc(100% - 9em);
}
.component-type-list {
    padding:0.1em 0.1em 0.1em 0.1em !important;
    overflow-y: scroll;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: hsl(217, 14%, 17%);
}
.component-type-card {
    margin: 0 0.2em 0.5em 0.2em;
    /* width: 10em; */
    height: 3em;
    font-size: 14px !important;
    background-color: #252a31;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 0.05em;
    display: inline-block;
    
}
.component-type-card p {
    text-align: center;
    line-height: 1.6em;
    margin:0;
}
.stock-toggle {
    background-color: #524429 !important;
    border-color: #524429 !important;
}
.stock-toggle:checked {
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
}
.stock-toggle:disabled, .stock-toggle:checked:disabled {
    opacity: 0.5;
}
.stock-toggle:focus, .stock-toggle:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}
.stock-toggle:hover {
    background-color: #79643c !important;
}
.stock-toggle:checked:hover {
    background-color: #ffc75e !important;
}

.selected-component-type {
    background-color: #ea9800 !important;
}
.selected-component-type:hover {
    background-color: #ffa500 !important;
}
.create-component-button {
    background-color: orange !important;
    color:#313540 !important;
    font-weight: bold !important;
}

.tag-button { 
    background-color: #323843!important;
    margin: 0 0.25em 0.25em 0.25em;
    color: #f3f3f3!important;
}
.tag-button:hover { 
    background-color: #f3f3f3!important;
    color: #323843!important;
}
.selected-tag {
    background-color: #ffa500!important;
    color: #323843!important;
}
.selected-tag:hover {
    background-color: #323843!important;
    color: #ffa500!important;
}
