[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
templative = {file = ".", editable = true}

[packages]
asyncclick = "8.1.7.2"
anyio = "4.3.0"
aiofile = "3.8.8"
aiohttp = "3.9.5"
tabulate = "0.9.0"
pillow = "10.3.0"
fpdf = "1.7.2"
markdown2 = "2.4.13"
svgmanip = "0.0.12"
aiohttp-cors = "0.7.0"
python-socketio = "5.11.2"
numpy = "1.26.4"
pyinstaller = "*"
requests = "*"
aiofiles = "*"

[requires]
python_version = "3.12.3"
