.playground-row {
    flex-wrap: nowrap !important;
    padding-right: 0.5em;
}
.create-button-container {
    width: 100%;
    padding: 0.5em;
}
.playground-package-controls {
    width: 100%;
}
.playground-logo {
    max-width: 715px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    filter: saturate(0%) brightness(50%);
    opacity: 0.1;
}
.create-playground-button {
    width: 100%;
    background-color: var(--color-accent) !important;
    color:var(--color-surface) !important;
    font-weight: bold !important;
}
.create-playground-button:hover {
    background-color: var(--color-accent) !important;
    border-color: var(--color-gray) !important;
}
.playground-directory-header, .ttp-directory-label {
    width: 100% !important;
}
.ttp-directory-label {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-width: 0px !important;
}
.tabletop-playground-folder-input {
    text-align: right !important;
}
.cornered-top {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.lookup-playground-button {
    border-color: var(--color-gray) !important;
}
.playground-controls > .render-output-options-container { 
    height: calc(100% - 450px);
}
.playground-controls > .selectable-directories {
    height: 10em !important;
}
.playground-save-controls {
    max-width: 715px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}
.playground-logo-container {
    height: calc(100% - 120px);
    width: 100%;
}