.unified-viewer {
    height: 100%;
    overflow-y: hidden;
}
.unified-viewer > .col {
    height: 100%;
    overflow-y: scroll;
}
.gamedata-column {
    position: relative;
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 0 auto !important;
    max-width: none !important;
}
.artdata-column {
    position: relative;
    min-width: 200px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.artdata-column > * > p, .gamedata-column > * > p {
    border-bottom: 1px hsl(210, 10%, 22%) solid;
    font-size: 18px;
}
.artdata-column > *:not(.unselecteable-artdata) > p:hover,
.gamedata-column > *:not(.unselecteable-artdata) > p:hover {
    cursor: pointer;
    font-size: 18px;
    background-color: hsl(222, 14%, 20%);
}
.unselecteable-artdata > p {
    color: gray;
}
.subfile-filepath {
    color: gray;
    font-size:12px;
}
.universal-file-content {
    padding-left: 6px;
    padding-right: 6px;
}
.drop-down-chevron {
    margin-left: 6px;
    margin-right: 6px;
}
.viewer-resize-handle {
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    z-index: 10;
    opacity: 0;
}
.viewer-resize-handle:hover, .viewer-resize-handle.active {
    background-color: orange;
    opacity: 0.5;
}
