.print-control { 
    height: 100% !important;
    overflow-y: hidden;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column-reverse;
}
.print-controls-row {
    background-color: var(--color-content-surface);
    height: 2em;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right:0.5em;
    text-align: right;
}
.printout-controls {
    /* max-width: 715px;
    margin-left:auto;
    margin-right: auto; */
}
.print-control-button {
    height: 100%;
}
.print-pdf-viewer-row {
    height: calc(100% - 2em) !important;
    overflow-y: hidden;
}
.fake-pdf {
    height: 2000px;
    /* background-color: var(--color-light); */
}
.pdf {
    height: 100%;
}
.create-printout-button-container {
    width: 100%;
    margin-top:0.5em;
}
.create-printout-button {
    width: 100%;
    background-color: var(--color-accent) !important;
    color:var(--color-content-surface) !important;
    font-weight: bold !important;
}
.create-printout-button:hover {
    background-color: var(--color-accent) !important;
    border-color: var(--color-gray) !important;
}
.selectedDirectory { 
    margin-bottom:0 !important;
}
.print-control-col-left >.render-output-options-container{
    height: calc(100% - 150px);
}
.printout-flex-checkbox {
    flex:1;
}
.no-pdf {
    padding-left: 1em;
}
.create-printout-button-container > * {
    margin:0px !important;
}
.create-printout-button-container > .input-group > * {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-width: 0px !important;
}
.create-printout-button-container > .input-group:first-child > * {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-top-width: 1px !important;
}
.create-printout-button-container > .input-group:last-child > * {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.printout-pdf-iframe {
    margin-bottom:0.5em;
    width: 100%;
    height: calc(100% - 100px);
}
.rules-pdf-iframe {
    width: 100%;
    height: 99%;
}
.printout-button-controls > * {
    cursor: pointer;
}