.create-component-by-type-choices {
    padding: 0em 0em 1em 0em !important;
    max-width: 715px;
    margin-left: auto;
    margin-right:auto;
    height: 100%;
}
.search-components-box {
    margin-bottom:24px;
}
.component-type-list {
    padding:1em 1em 1em 1em !important;
    overflow-y: scroll;
    height: 100% !important;
    /* background-color: hsl(217, 14%, 17%); */
}
.component-type-card {
    margin: 0 0.2em 0.5em 0.2em;
    /* width: 10em; */
    /* height: 3em; */
    text-align: left !important;
    background-color: #323843 !important;
    color: #d9d9d9!important;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 0.05em;
    display: inline-block;
}
.component-type-card > strong {
    font-size: 14px !important;
}
.component-type-dimensions {
    color: #b6b6b6 !important;
}
.component-type-card:hover { 
    background-color: #f3f3f3!important;
    color: #323843!important;
}
.component-type-card:hover .component-type-dimensions { 
    color: rgb(33, 36, 44)!important;
}
.component-type-card.selected-component-type:hover .component-type-dimensions, .component-type-card.selected-component-type .component-type-dimensions { 
    color: #323843!important;
}
.component-type-card p {
    line-height: 1.6em;
    margin:0;
}
.selected-component-type {
    color: #323843!important;
    background-color: #ea9800 !important;
}

.selected-component-type:hover {
    color: #323843!important;
    background-color: #ffa500 !important;
}