.App {
  /* text-align: center; */
  background-color: #282c34;
  height: 100% !important;
}

html, body {
  height: 100%;
}
html {
  scrollbar-color: hsl(222, 13%, 28%) #2f333c;
}
.no-right-border {
  border-right-width: 0px !important;
}
.no-left-border {
  border-left-width: 0px !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 8px;
  background-color: #2f333c;
}
textarea::-webkit-scrollbar-corner {
  background-color: #2f333c; /* Color of the corner */
}

::-webkit-scrollbar-thumb {
  background: #373c48;
  border-radius: 5px;
}

#root {
  height: 100vh;
}
.container-fluid {
  /* height: 100vh !important; */
  height: 100vh !important;
  /* min-height: 100vh; */
  /* overflow: hidden; */
  overflow:hidden;
  /* display: flex; */
  /* flex-direction: column; */
  padding:0 !important;
  /* align-items: center;
  justify-content: center; */
  font-size: 24px;
  color:#cfcfcf !important;
}
.hidden-visibility{
  visibility: hidden;
}
.locked:hover {
  cursor: not-allowed !important;
}

.vertical-input-group .input-group:first-child {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.vertical-input-group .input-group:first-child *:not(.form-check-input) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;    
}
.vertical-input-group .input-group:last-child {
  padding-top: 0 !important;
}
.vertical-input-group .input-group:last-child *:not(.form-check-input) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom:0 !important
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) *:not(.form-check-input) {
  border-radius: 0;
}  
.vertical-input-group .input-group:not(:first-child) :not(.form-check-input) {
  border-top: 0 !important;
}
.vertical-input-group .input-group:nth-child(odd) .form-control  {
  background-color: #1a1e20!important;
}
.vertical-input-group .input-group:nth-child(odd) .form-select  {
  background-color: #1a1e20!important;
}
.darkened-label {
  background-color: rgb(33, 37, 41)  !important;
  border-right-width: 0 !important;
}
.vertical-input-group .input-group:nth-child(odd) .darkened-label {
  background-color: #1a1e20!important;
}