.App {
  /* text-align: center; */
  background-color: #282c34;
  height: 100% !important;
}

html, body {
  height: 100%;
}
html {
  scrollbar-color: hsl(222, 13%, 28%) #2f333c;
}
.no-right-border {
  border-right-width: 0px !important;
}
.no-left-border {
  border-left-width: 0px !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 8px;
  background-color: #2f333c;
}

::-webkit-scrollbar-thumb {
  background: #373c48;
  border-radius: 5px;
}

#root {
  height: 100vh;
}
.container-fluid {
  /* height: 100vh !important; */
  height: 100vh !important;
  /* min-height: 100vh; */
  /* overflow: hidden; */
  overflow:hidden;
  /* display: flex; */
  /* flex-direction: column; */
  padding:0 !important;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color:#cfcfcf !important;
}
.hidden-visibility{
  visibility: hidden;
}
