.App {
  text-align: center;
  background-color: #282c34;
}

html, body {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100% !important; /* cross-browser */
  min-height: 100vh;
  display: flex;
  padding:0 !important;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color:#cfcfcf !important;
}
