.main-col {
    height: 100%;
    width: 100%;
}

.component-type-list {
    padding: 0px 0px 0px 8px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 25px);
    margin: 0px 0px 0px 0px;
}

:root {
    --component-name-row-height: 10em;
    --search-components-box-height: 95px;
}

.create-component-name-row {
    height: 240px;
    background-color: var(--color-content-surface);
    display: block;
    padding:0.5em;
    width: 100%;
    border-top: solid 1px var(--color-border);
}

.create-component-name-row > .input-group {
    margin-bottom: 0px;
    max-width: 715px !important;
    margin-left: auto;
    margin-right:auto;
}

.component-type-picking-row {
    width: 100%;
    padding: 0 1em 0em 1em !important;
    height: calc(100% - var(--search-components-box-height));
}

.component-type-picking-row.has-selected-component {
    height: calc(100% - 345px);
}

.component-type-picking-row > * {
    height: 100%;
}

.create-component-input-group {
    margin-left:auto;
    margin-right:auto;
    max-width: 30em !important;
}



.creating-spinner {
    margin-right: 6px;
    width: 0.8rem !important;
    height: 0.8rem !important;
}

.creation-explanation {
    max-width: 715px;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:0px;
}

.creation-instructions {
    max-width: 715px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:0px;
}

.tag-picker-container {
    transition: width 0.3s ease;
    overflow: hidden;
}

.collapsed {
    width: 0;
    display: none;
}

.expanded {
    width: 25%;
}

.vertical-bar {
    width: 25px !important;
    background-color: var(--color-content-surface);
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right:0.5em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.vertical-bar:hover {
    background-color: var(--color-content-surface)!important;
}

.vertical-bar span {
    font-size: 24px;
    color: var(--color-light);
    transform: rotate(180deg);
}

.tags-chevron {
    margin-right:14px;
}

.component-ai-description-textarea {
    resize: none;
}

.search-components-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 1em;
    height: 95px;
}
  
.component-tabs {
    display: flex;
    border-bottom: 2px solid var(--color-border);
    width: 100%;
}
  
.App .tab-button {
    padding: 0.5em 1em 0em 1em;
    border: none;
    font-size: 18px;
    color: var(--color-text);
    background-color: var(--color-content);
    transition: background-color 0.2s, color 0.2s;
    border-bottom: 1px solid transparent !important;
}
.App .tab-button.active {
    border-bottom: 1px solid var(--color-accent) !important ;
    color: var(--color-accent);
}

.tab-button:hover:not(.active) {
    cursor: pointer;
}

.search-components-box {
    width:100%;
}

.search-components-box .form-control {
    border-radius: 4px;
    border: 1px solid var(--color-border);
}

.search-components-box .form-control:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 0.2rem rgba(var(--color-accent-rgb), 0.25);
}
.create-panel-project-didnt-load-container {
    height: 100%;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-panel-project-didnt-load-icon {
    color: var(--color-error);
    width: 200px;
    height: 200px;
}
.create-panel-project-didnt-load-container > p {
    font-size: 18px;
    text-align: center;
}