.resourcesHeaderWrapper {
    width: 100%;
    padding: 0.1em 0.2em 0.1em 0.5em !important;
    border-bottom: solid #313540;
    border-width: 1px;
    height:1em !important;
    margin-bottom:0.1em;
}
.resourcesHeaderWrapper:hover {
    background-color: #333741;
    cursor: pointer;
}
.resourcesHeader {
    font-size:14px;
    text-align: left;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 100%;
    margin:0;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}
.resourceHeaderContent {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: calc(100% - 2em);
}
.resourceHeaderControls {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 2em;
    align-items: right;
}
.add-file-button {
    vertical-align: top;
    height: 100%;
    width:1em;
    float: right;
    text-align: right;
    padding:0 !important;
    border: 0 !important;
    background-color: #2b3037 !important;
}
.resource-header-chevron {
    margin-right: 0.5em;
    margin-bottom: 0.3em;
}