.content-file-item-wrapper, .icon-content-file-item-wrapper {
    height:0.9em;
}

/* 
.content-file-item-wrapper {
    padding-left: 1em;
}

.icon-content-file-item-wrapper {
    padding-left: 0.5em;
} 
*/
.icon-content-file-item-wrapper:n-child(even), .content-file-item-wrapper:nth-child(even) {
    background-color: var(--color-base);
}
.icon-content-file-item-wrapper:hover, .content-file-item-wrapper:hover {
    background-color: var(--color-surface);
    cursor: pointer;
}
.selected-content-file-item-wrapper {
    background-color: var(--color-surface);
}
.selected-content-file-item-wrapper:hover {
    background-color: var(--color-surface);
}
.content-file-list {
    padding: 0 !important;
}
.content-file-list {
    padding:0;
}