:root {
  /* Core palette */
  --color-accent: #878ec4;
  --color-accent-hover: hsl(233, 33%, 75%);
  --color-accent-disabled: hsl(233, 10%, 45%);

  /* Semantic colors */
  --color-error: hsl(340, 57%, 64%);
  --color-success: hsl(150, 57%, 64%);
  --color-warning: hsl(40, 57%, 64%);
  --color-info: hsl(200, 57%, 64%);

  /* Theme mapping */
  --color-content: hsl(215, 21%, 12%);
  --color-content-hover: hsl(215, 21%, 17%);
  --color-content-surface: hsl(215, 21%, 15%);
  --color-content-surface-hover: hsl(215, 21%, 20%);
  --color-surface-cover: hsl(215, 21%, 20%);
  --color-surface-cover-hover: hsl(215, 21%, 25%);
  --color-border: hsl(215, 21%, 23%);
  --color-text: hsl(240, 11%, 78%);
  --color-text-muted: hsl(240, 11%, 50%);
  

  /* Bootstrap overrides */
  --bs-primary: var(--color-accent);
  --bs-secondary: var(--color-border);
  --bs-success: var(--color-success);
  --bs-info: var(--color-info);
  --bs-warning: var(--color-warning);
  --bs-danger: var(--color-error);
  --bs-light: var(--color-content);
  --bs-dark: var(--color-content-surface);
  --bs-body-bg: var(--color-content);
  --bs-body-color: var(--color-text);
  --bs-border-color: var(--color-border);
  --bs-link-color: var(--color-accent);
  --bs-link-hover-color: var(--color-accent-hover);
  --bs-primary-rgb: 123, 134, 192;
  --bs-secondary-rgb: 59, 59, 59;
  --bs-success-rgb: 150, 210, 150;
  --bs-info-rgb: 150, 210, 210;
  --bs-warning-rgb: 210, 210, 150;
  --bs-danger-rgb: 210, 150, 150;
  --bs-light-rgb: 31, 35, 40;
  --bs-dark-rgb: 38, 43, 49;
  --bs-border-radius: 0.375rem;
  --bs-border-width: 1px;
}