.main-col {
    height: 100%;
    width: 100%;
}
.custom-or-stock {
    margin-right: 1em;
    margin-top: 0.8em;
    margin-left: 1em;
}
.component-type-list {
    padding: 0px 8px 0px 8px !important;
    overflow-y: scroll;
    height: calc(100% - 25px);
    margin: 5px 0px 5px 0px;
}
.create-component-name-row {
    height: 7.5em;
    display: block;
    padding-top:0.5em;
    width: 100%;
}
.create-component-name-row > .input-group {
    margin-bottom: 0px;
    max-width: 715px !important;
    margin-left: auto;
    margin-right:auto;
}
.component-type-picking-row {
    padding: 1em 1em 1em 1em !important;
    border-top: hsl(222, 13%, 28%) solid 1px;
    height: calc(100% - 7.5em);
}
.component-type-picking-row > * {
    height: 100%;
}
.create-component-input-group {
    margin-left:auto;
    margin-right:auto;
    max-width: 30em !important;
}
.create-component-button {
    background-color: #ea9800 !important;
    color:#313540 !important;
    font-weight: bold !important;
    min-width: 84px !important;
}
.create-component-button:disabled {
    background-color: #323843 !important;
    color: #f3f3f3!important;
}
.create-component-button:hover {
    background-color: #ffa500 !important;
    color:#313540 !important;
}
.creating-spinner {
    margin-right: 6px;
    /* margin-top:3px; */
    width: 0.8rem !important;
    height: 0.8rem !important;
}

.creation-explanation {
    max-width: 715px;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:0px;
}
.creation-instructions {
    max-width: 715px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:0px;
}
.tag-picker-container {
    transition: width 0.3s ease;
    overflow: hidden;
}

.collapsed {
    width: 0;
    display: none; /* Hide content when collapsed */
}

.expanded {
    width: 25%; /*  Adjust as necessary */
}

.vertical-bar {
    width: 25px !important;
    background-color: #2c303a;
    color: hsl(0, 0%, 81%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right:0.5em;
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* To make text vertical */
}
.vertical-bar:hover {
    background-color: #323742!important;
}
.vertical-bar span {
    font-size: 24px;
    color: #b6b6b6;
    transform: rotate(180deg); /* Flip text back to readable orientation */
}
.tags-chevron {
    margin-right:14px;
}
.component-ai-description-textarea {
    resize: none;
}
