.main-col {
    height: 100%;
    width: 100%;
}
.custom-or-stock {
    margin-right: 1em;
    margin-top: 0.8em;
    margin-left: 1em;
}
.component-type-list {
    padding: 0px 0px 0px 8px !important;
    overflow-y: scroll;
    height: calc(100% - 25px);
    margin: 5px 0px 5px 0px;
}
.create-component-name-row {
    height: 4em;
    background-color: var(--color-content-surface);
    display: block;
    padding-top:0.5em;
    width: 100%;
    border-bottom: solid 1px var(--color-border);
}
.create-component-name-row > .input-group {
    margin-bottom: 0px;
    max-width: 715px !important;
    margin-left: auto;
    margin-right:auto;
}
.component-type-picking-row {
    padding: 1em 1em 1em 1em !important;
    height: calc(100% - 4em);
}
.component-type-picking-row > * {
    height: 100%;
}
.create-component-input-group {
    margin-left:auto;
    margin-right:auto;
    max-width: 30em !important;
}
.create-component-button {
    background-color: var(--color-accent) !important;
    color:var(--color-content-surface) !important;
    font-weight: bold !important;
    min-width: 84px !important;
}
.create-component-button:disabled {
    background-color: var(--color-accent-disabled) !important;
    color: var(--color-text)!important;
}
.create-component-button:hover {
    background-color: var(--color-accent-hover) !important;
    color:var(--color-text) !important;
}
.creating-spinner {
    margin-right: 6px;
    /* margin-top:3px; */
    width: 0.8rem !important;
    height: 0.8rem !important;
}

.creation-explanation {
    max-width: 715px;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:0px;
}
.creation-instructions {
    max-width: 715px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:0px;
}
.tag-picker-container {
    transition: width 0.3s ease;
    overflow: hidden;
}

.collapsed {
    width: 0;
    display: none; /* Hide content when collapsed */
}

.expanded {
    width: 25%; /*  Adjust as necessary */
}

.vertical-bar {
    width: 25px !important;
    background-color: var(--color-content-surface);
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right:0.5em;
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* To make text vertical */
}
.vertical-bar:hover {
    background-color: var(--color-content-surface)!important;
}
.vertical-bar span {
    font-size: 24px;
    color: var(--color-light);
    transform: rotate(180deg); /* Flip text back to readable orientation */
}
.tags-chevron {
    margin-right:14px;
}
.component-ai-description-textarea {
    resize: none;
}
