.componentViewer {
    padding: 0 0.75em 0 0.25em
}
.componentEditable {
    padding: 0.6em 0.5em 0.15em 0.25em;
    margin-bottom: 1em;
    background-color: #2c303a;
    border-radius: 8px;
}
.component-left-bumper {
    width: 11.5em;
}
.component-left-bumper-content {
    width: 11.5em !important;
}
.editable-components {
    padding-top: 0.5em;
}
.editable-component {
    max-width: 725px;
    margin-left: auto;
    margin-right: auto
}